:root{
    --cor-de-fundo: #fa0000;
}
:root{
    --cor-de-fundo: #ffee00;
    --verde: #6FFF57;
    --branco: hsl(0, 0%, 0%);
    --botao-ativo: #3A375E;
}
:root{
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: hsl(182, 100%, 50%);
    --botao-inativo: rgba(234, 0, 255, 0.5);
    --texto-fundo: #ff00954d;
}
